.allCards {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.pagination {
 

  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style-type: none;
}
.pagiButton {
  width: 40px;
  height: 27px;
  background-color: rgb(212, 212, 241);
  border-radius: 20%;
  border-color:transparent;
  padding: 0 ;

  cursor: pointer;
}
.page-item {
  margin: 1px;
}

.pagiButtonCelect{
  width: 40px;
  height: 27px;
  background-color: rgb(212, 212, 241);

  border-radius: 20%;
  border-color:blue;
  padding: 0 ;
  cursor: pointer;
}

.pagiButtonSpace{
  width: 27px;
  height: 27px;
  background-color: rgb(212, 212, 241);
  border-radius: 20%;
  border-color:transparent;
  padding: 0 ;

}
.pagiButtonMenu{
  width: 30px;
  height: 27px;
  background-color: rgb(212, 212, 241);
  border-radius: 20%;
  border-color:transparent;
  padding: 0 ;
  cursor: pointer;
}
